.headerContainer {
  display: flex;
  height: 100px;
  border: 2px solid #000;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
}
.inputContainer {
  border-radius: 3px;
}
.searchBox {
  display: flex;
  gap: 3px;
}
.inputSearch {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px 10px;
  width: 800px;
  font-size: 20px;
}
.searchBtn:hover {
  color: #f3f4f6; /* Синий при наведении */
  background: #2563eb; /* Легкий фон при наведении */
}

.searchBtn {
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 10px;
  width: 60px;
}

.componentNavBar {
  padding: 10px;
}
