.productDetailsContainer {
}

.productDetailsBody {
  display: flex;
  justify-content: space-between;
}

.productImgContainer {
  width: 500px; /* Фиксированная ширина */
  height: 650px; /* Фиксированная высота (или auto для гибкости) */
  display: flex;
  flex-direction: column; /* Чтобы контент внутри выстраивался вертикально */
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 8px;
  /* overflow: hidden; Обрезает всё, что выходит за границы */
}

.productImage {
  width: 100%; /* Занимает всю ширину карточки */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  aspect-ratio: 1/1; /* Соотношение сторон 1:1 (квадратное) или 4/3 */
  object-fit: contain;
  object-position: center; /* Фокус на центре изображения */
  border-radius: 8px; /* Слегка скруглённые углы */
  display: block; /* Убирает лишние отступы снизу */
  margin: 0 auto; /* Центрирование, если контейнер шире изображения */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавные эффекты */
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.ratingBlock {
  display: flex;
  gap: 20px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.descriptionProduct {
  font-size: 20px;
  margin: 50px 0 0 0;
}

.productTake {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 280px;
  font-family: Arial, sans-serif;
  position: relative;
}

.priceRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Цена */
.productPrice {
  font-size: 24px;
  font-weight: bold;
  color: #555;
  margin: 0;
}

/* ❤️ Избранное */
.favoriteBtn {
  width: 36px;
  height: 36px;
  font-size: 18px;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: #fff;
  color: #555;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favoriteBtn:hover {
  background-color: #fce4ec;
  border-color: #f06292;
  color: #e91e63;
}

.favoriteActive {
  background-color: #fce4ec;
  color: #e91e63;
  border-color: #f06292;
}

/* 🛒 В корзину */
.cartBtn {
  width: 200px;
  padding: 12px;
  background-color: #a100ec;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cartBtn:hover {
  background-color: #8700c1;
}

.cartAdded {
  background-color: #4caf50 !important;
}

.goInCart {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #8700c1;
  font-weight: 700;
  font-size: 20px;
}

.btnsRow {
  display: flex;
  gap: 10px;
}
